---
import Layout from "../layouts/Layout.astro"
import Hero from "../components/Hero.astro"
import Vision from "../components/Vision.astro"
import About from "../components/About.astro"
import Divider from "../components/Divider.astro"
import Footer from "../components/Footer.astro"
import Curtain from "../components/Curtain.astro"
---

<Layout>
  <main>
    <Curtain />
    <Hero />
    <Divider />
    <Vision />
    <Divider />
    <About />
  </main>
  <Footer />
</Layout>
