---
import Curtain from "../components/Curtain.astro"
import Hero from "../components/Hero.astro"
import Vision from "../components/Vision.astro"
import About from "../components/About.astro"
import Writings from "../components/Writings.astro"
import Footer from "../components/Footer.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <Curtain />
  <div class="container mx-auto max-w-3xl space-y-16 px-4 pb-16">
    <Hero />
    <Vision />
    <About />
    <Writings />
  </div>
  <Footer />
</Layout>

<script src="../scripts/intro.ts"></script>
