---

---

<p
  id="hero-text"
  class="mb-12 font-serif text-2xl leading-tight md:mb-24 md:px-0 md:text-4xl"
  data-reveal
>
  I craft meaningful digital experiences with <em>care</em>, <em>clarity</em> and
  <em>intention</em> — helping purpose-driven people leave things better than they
  found them.
</p>
