---
interface Props {
  id: string
  first?: boolean
}

const { id, first = false } = Astro.props
---

<div
  id={id}
  class:list={[
    "w-full max-w-5xl",
    first
      ? "flex min-h-[calc(100svh-3.5rem)] flex-col justify-end pb-8 md:min-h-full md:justify-center md:pb-0"
      : "flex items-center py-12 md:min-h-full md:py-0",
  ]}
>
  <slot />
</div>
