---
interface Props {
  title: string
  subtitle: string
}

const { title, subtitle } = Astro.props
---

<section class="flex flex-col gap-12 md:flex-row">
  <div class="space-y-2 md:w-1/3">
    <h2
      class="text-text font-serif text-xl leading-snug font-normal"
      data-reveal
    >
      {title}
    </h2>
    <p class="text-text-muted font-serif italic" data-reveal>
      {subtitle}
    </p>
  </div>
  <div class="flex w-full flex-col gap-4 text-base leading-relaxed">
    <slot />
  </div>
</section>
