---
import "../styles/global.css"
import SEO from "../components/SEO.astro"

interface Props {
  title?: string
  description?: string
}

const { title, description } = Astro.props
---

<html lang="en">
  <head>
    <SEO title={title} description={description} />
  </head>
  <body class="flex min-h-screen flex-col">
    <slot />
  </body>
</html>
