---
import Layout from "./Layout.astro"
import Signature from "../components/Signature.astro"
import Footer from "../components/Footer.astro"
import SiteNav from "../components/SiteNav.astro"

interface Props {
  title?: string
  description?: string
}

const { title, description } = Astro.props

const pathname = Astro.url.pathname
---

<Layout title={title} description={description}>
  <div
    class="relative container mx-auto flex flex-col md:h-screen md:overflow-hidden"
  >
    <header
      data-site-header
      transition:name="site-header"
      class="flex flex-none items-center justify-center px-4 py-8 md:justify-between md:px-8"
    >
      <a href="/" aria-label="Matteo Cavallo">
        <Signature class="h-6 w-auto" replayOnHover />
      </a>

      <SiteNav pathname={pathname} />
    </header>

    <main
      class="no-scrollbar w-full md:flex-1 md:overflow-y-auto"
      data-scroll-container
    >
      <slot />
      <div data-site-footer transition:name="site-footer">
        <Footer />
      </div>
    </main>
  </div>
</Layout>
