---
import "../styles/global.css"
import SEO from "../components/SEO.astro"
import Header from "../components/Header.astro"

interface Props {
  title?: string
  description?: string
}

const { title, description } = Astro.props
---

<html lang="en">
  <head>
    <SEO title={title} description={description} />
    <script is:inline>
      if (sessionStorage.getItem("curtain-shown")) {
        document.documentElement.classList.add("curtain-seen")
      }
    </script>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>

<script src="../scripts/reveal.ts"></script>
