---
import "../styles/global.css"
import SEO from "../components/SEO.astro"
import SmoothScroll from "../components/SmoothScroll.astro"
import Curtain from "../components/Curtain.astro"
import Reveal from "../components/Reveal.astro"

interface Props {
  title?: string
  description?: string
}

const { title, description } = Astro.props
---

<html lang="en">
  <head>
    <SEO title={title} description={description} />
  </head>
  <body>
    <Curtain />
    <SmoothScroll />
    <Reveal />
    <slot />
  </body>
</html>
